body{
    font-family: Arial, Helvetica, sans-serif !important;
}

h5{
    font-weight: bold !important;
}

#logo{
    margin-top:10px;
    margin-bottom: 10px;
}

.top_header{
    background-color: #FFFFFF;
}

.div_info, .div_quanlynguoidung, .div_hotro, .div_vaitro{
    float: right;
    margin-top:14px;

}

.p_info{
    vertical-align: middle;
}

.navbar,.background-navbar{
    background-color:rgb(46,148,218) !important ;
}

/* *{
    font-family: Arial, Helvetica, sans-serif !important;
} */

/* .container-fluid{
    background-color: #EEEEEE !important;
} */

ul{
    list-style: none;
}

.left_section_1_block{
    position: relative;
}

.left_section_1_img{
    /* background-color: yellow; */
    height: 80px;
    width: 50px;
    display:inline-block;
    position: absolute;
}

.left_section_1_content{
    /* background-color: blue; */
    height: 80px;
    width: 150px;
    display:inline-block;
    margin-left:55px;
}

.vien{
    background-color: black;
    height: 80px;
    width: 2px;
    position: absolute;
    display:inline-block;
    margin-left: 5px;
}

.left_section_1_block{
    float:left;
    margin-left:10px;
}

.row left_section_1{
    background-color: #FFFFFF;
}

footer{
    background-color: black;
}

.nav-item>a{
    color:#FFFFFF;
}

#body{
    margin:15px;
}

.left_section_1, .left_section_2, .left_section_3{
    background-color: white;
    padding:10px;
    margin-bottom: 15px;
}

.right_section_header, .right_section_body{
    background-color: white;
    margin-left:10px !important;
    padding:10px;
}

.fa-dollar-sign{
    color:rgb(192, 192, 82);
}

.fa-shopping-cart{
    color:orange;
}

.fa-chart-line{
    color:green;
}

.hide{
    display: none !important;
}


